{
  "id":"",
  "cons_key" : "",
  "cons_sec" : "",
  "acc_tok" : "",
  "acc_tok_sec" : "",
  "tags" : "follow rt gagner,follow rt gagne,follow rt concours",
  "lang" : "fr",
  "cmax" : 5,
  "duration" : 180,
  "maxfriends" : 1995,
  "followmentions" : true
}
